<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConLaboratorio" connectionString="DataSource=LAB04-19; Inital Catalog=BD_LaboratorioWF; User Id=sa; Password = uniron$2019" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
